body{
    height:100%;
    background-color: rgb(238, 238, 238);
}

.header{
    width:100vw;
    height:5vw;
}

.content{
    height:80vh;
}

/* Setting the Container for the Todo Input and View region */
.container{
    width: 50vw;
    background-color:rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 5%;
    box-shadow: 1px 2px 5px 1px rgb(219, 217, 217);
    text-align: center;
    display:flex;
    flex-direction: column;
    z-index: initial;
}

.arrow{
    border:transparent;
    outline:transparent;
    background-color:transparent;
}
.down {
    border: solid grey;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
    margin-left:5px;
    margin-bottom:2px;
    transform: rotate(45deg);
    }



h1{
 color: rgb(209, 179, 183); 
 font-size: 5vw;  
 text-align: center;
}

/* Styling the addTodo Component */
.textArea{ 
 width: 100%;
 height:10vh;
 box-shadow: .8px .8px .8px .8px lightgray;
 }

.inputText{
    width: 80%;
    height:9vh;
    font-size:1.5vw;
    text-align: justify;
    margin-left: 10%; 
    border:transparent; 
}
.inputText:focus{  
 outline:transparent !important;
}

::placeholder{
    color:lightgrey;
    font-style: italic;
    font-size:1.5vw;
}

/* Styling the TodoController  */
.listArea{
    width: 100%;
   
}

ul{
    list-style: none;
    padding: 0px;
    margin:0px;
}

/* Styling the TodoList Component */
.task{
   
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    border-bottom: 1px solid #f0e6e6;
}

.clear{
    margin-bottom:0%;
    margin-left: auto;
    color:transparent;
    background-color: transparent;
    border-style:none;
}

.main { 
    display: block; 
    position: relative; 
    padding-left: 15%; 
    cursor: pointer; 
    color: rgb(73, 71, 71);
    font-size:2vw;
    text-transform: capitalize;
      
} 

.task:hover .main ~ .clear{
    margin-bottom:1%;
    margin-left: auto;
    color:rgb(153, 69, 54);
    font-size: 1.2vw;
    font-weight: bold;
    background-color: transparent;
    border-style:none; 
}
  
/* Hide the default checkbox */ 
input[type=checkbox] { 
    visibility: hidden; 
} 
  
/* Creating a custom checkbox 
based on demand */ 
.geekmark { 
    position: absolute; 
    top: 2px; 
    left: 20px; 
    height: 35px; 
    width: 35px; 
    border-radius: 50%;
    border:2px solid rgb(243, 235, 235);
    background-color:none;
} 
  
/* Background color to be 
shown when hovering over checkbox */ 
.main:hover input ~ .geekmark { 
    background-color: none;
} 
  

  
/* Background color to be 
shown when checkbox is checked */ 
.main input:checked ~ .geekmark { 
    border:1px solid rgb(109, 187, 178);
} 
  
/* Checkmark to be shown in checkbox */ 
.geekmark:after { 
    content: ""; 
    position: absolute; 
    display: none; 
} 
  
/* Display checkmark when checked */ 
.main input:checked ~ .geekmark:after { 
    display: block; 
} 


/* Styling the checkmark */ 

.main .geekmark:after { 
    left: 13px; 
    bottom: 8px; 
    width: 8px; 
    height: 20px; 
    border: solid rgb(67, 238, 15); 
    border-width: 0 2px 2px 0; 
    -webkit-transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 
    transform: rotate(45deg); 
} 

/* Styles for the ViewTodo Component */
.footer{
    width:90%;
    display:flex;
    padding-left:10%;
    text-align: center;
    box-shadow: 0 1px 1px rgb(219, 217, 217),
        0 8px 0 -3px white,
        0 9px 1px -3px rgb(219, 217, 217),
        0 16px 0 -6px white,
        0 17px 2px -6px rgb(219, 217, 217)
}

.option{
    border:transparent;
    text-transform: capitalize;
    background-color: transparent;
    cursor: pointer;
    color:gray;
    font-family: 'Candara'; 
    font-size:1vw;
    height:fit-content;
    padding:5px 20px !important;
    margin-top:10px;
}

.option:active{
    border-color:orange !important;
    outline-color:orange !important;
}

.option:focus{
    border-color:orange !important;
    outline-color:orange !important;
}

.edit{
    font-size: 2vw;
    border:1px solid greenyellow;
    width:45vw;
    margin-left:10%;
}
.edit:focus{
    border: transparent;
    outline:greenyellow;
}
h4{
    text-align:center;
    color:#550000;
    font-size:2vw;
    margin:10px;
}
.copyright {
    color: #968B87;
    font-size: 1rem;
    margin-top:100px;
    text-align: center;
 
 }


 @media screen and (max-width: 750px) {
    .header{
         height:7vw;
     }
    .note{
        width:30px;
        height:40px;
        margin-top: 0;
        margin-left:0;
    }
    ::placeholder{
        font-size:xx-small;
    }
    .textArea{
        font-size:smaller;
        height:4vh;
    }
    .main{
        font-size:3vw;
    }
    .option{
        font-size:1.5vw;
    }
    h1{
        margin-top:0px;
    }
    h3{
        font-size:2vw;
    }
    h4{
        font-size:3vw;
    }
    .copyright{
        font-size:.5rem;
    }
    .footer{
        height:4vh;
        padding:3%;
        margin-left:5%;
        width:80%;
    }
    .geekmark { 
        height: 12px; 
        width: 12px; 
    }
    .main .geekmark:after { 
        left: 2px; 
        bottom: 1px; 
        width: 4px; 
        height: 10px; 
        border: solid white; 
        border-width: 0 2px 2px 0; 
    }
  } 

